.aider*
.env
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
__pycache__/
.DS_Store
testfiles/.DS_Store
testfiles/output/Offer_Web Application Security Assessment_EN.docx
